*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-brand{
  font-size:30px;
  font-family: "Pacifico", cursive;
  color:black;

}
.navbar-brand:hover{
  color:black;
}
.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  color: black;
  text-transform: uppercase;
}
.nav-link:hover{
  color:black;
}
.search{
  padding: 10px;
  height: 40px;
  width:80% ;
  border-radius: 60px;
  font-family: "Rubik", sans-serif;
  outline: none;
  margin-right:-35px;
  border:2px solid black}
  
  .btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color:black;
    color: white;
    font-weight: 700;
    border-radius: 60px;

  }
  .main{
    
    background: url(./images/HomePage.jpg) no-repeat;
    background-size: cover;
    height: 100vh;    
    background-position: 50% 50%;
    width: 100%;    
  }
  .cool{
    width: 1000px;
  }
.main h1{
  font-size: 40px;
  font-weight:700;
  color:rgb(0, 0,1);
text-align: center;
  padding-right: -100px;
  margin-top: 100px;
}
.hr{
  margin-top: 300px;
}
.container11{
  display: inline-block;
  border: none ;
}

